<div class="container">
     <%= link_to "戻る", carender_path%>
    <h1 class="row button-row"><%= @date.month %>月<%= @date.day %>日</h1>
  <!-- 1段目：タイマーと勉強内容 -->
  <div class="top-row">
    <div class="left-column">
      <div class="timer-circle">
        <span id="timer">00:00:00</span>
      </div>
    </div>
    <div class="right-column">
      <div class="study-box">
        <h3>今日の勉強内容</h3>
        <div class="input-area">
          <div>
            <label>科目</label><br>
            <%= select_tag :subject, options_for_select(["数学", "英語", "国語", "理科", "社会", "その他"]), class: "subject-select" %>
          </div>
          <div>
            <label>メモ</label><br>
            <%= text_area_tag :memo, "", rows: 5, class: "memo-box" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 2段目：ボタン -->
  <div class="row button-row">
    <button id="startStopBtn" type="button">開始 / 終了</button>
    <button id="pauseResumeBtn" type="button">停止 / 再開</button>


  </div>

  <!-- 3段目：登録内容 -->
  <div class="row record-row">
    <div class="record-box">
      <h3>今日の登録内容</h3>
      <input type="hidden" id="record-date" value="<%= @date %>">
      <div id="records">
        <% if @study_records.present? %>
          <% @study_records.each do |r| %>
            <p>
              <strong><%= r.subject %></strong>
              <%= r.memo %>
              （<%= r.duration_seconds %> 秒）
              
              <button class="delete-record-btn" data-id="<%= r.id %>">
                削除
              </button>
            </p>
          <% end %>
        <% else %>
          <p id="no-records">NotFound: Motivation</p>
        <% end %>
      </div>
    </div>
  </div>

  <!-- 4段目：追加ボタン -->
  <div class="row add-row">
    <%= link_to "追加", new_study_record_path, class: "btn" %>
  </div>
</div>

