<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>基本情報確認</title>
  
  <% content_for :css do %>
    <%= stylesheet_link_tag "login_style", media: "all" %>
  <% end %>
</head>

<body>
  <div class="container">

    <div class="header">
      <%= link_to "戻る", login_path, class: "back-btn" %>
      <h1 class="title">基本情報確認</h1>
    </div>
  
<hr>
  
  <%= form_with url: confirm_path, method: :post, local: true, class: "login-form" do |f| %>
  
    <div class="form-row">
      <%= f.text_field :user_id, placeholder: "ユーザ名" %>
    </div>
  
    <div class="form-row">
      <%= f.password_field :password, placeholder: "パスワード" %>
    </div>
  
      <%= f.submit "確認", class: "confirm-btn" %>
  
    <% end %>
  </div>

</body>
</html>
